# Created by http://www.gitignore.io

### Scala ###
target
*.class

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
*.iml
*.ipr
*.iws
.idea
out
build
.classpath
.project
.settings
org.scala-ide.sdt.core/META-INF/MANIFEST.MF
org.scala-ide.sdt.update-site/site.xml

# OS_X
.DS_Store